---
interface Props {
    title: string;
    value: string;
    description: string;
    color?: string;
}

const { title, value, description, color = 'var(--card)' } = Astro.props;
---
<div class="text-white p-6 rounded-lg shadow-md" style={`background-color: ${color}`}>
    <span class="text-sm">{title}</span>
    <p class="text-3xl font-bold mt-2">{value}</p>
    <p class="text-sm opacity-80 mt-2">{description}</p>
</div>